.post-container {
  width: 90vw;
  border-radius: 0.5em;
  text-align: center;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

@media only screen and (min-width: 600px) {
  .post-container {
    width: 45vw;
  }
}
